* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f4f8;
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 0.15rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.head{
  display: none;
}
.ham_img{
  display: none;
}
.prev,
.next{
  display: none;
}
.carosel{
  display:none;
}
.carosel{
  display:none;
}
.grid_scrolling::-webkit-scrollbar {
  display: none;
}
.user_login_for_mobile{
  display:none;
}
.flex_container_mobile {
  display: none;
}
.container2 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.navigation_block_mobile {
  display: none;
}

.flex_container2_scroll {
  display: none;
}
#mobile_view label,
#mobile {
  display: none;
}
.ust_omni_for_mobile{
  display: none;
}
.third_flex_block_mobile{
    display: none;
}
.container {
  height: 100%;
  width: 100%;
}
.grid_scrolling_mobile{
  display: none;
}
body {
  background-color: #f2f4f8;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #2f3749;
  font-size: 0.875rem;
}
p {
  font-size: 0.875rem;
}
li {
  list-style: none;
}
header {
  display: flex;
  height: 4rem;
  /* width: 100%;*/
  background-color: white;
  font-size: 0.875rem;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.navigation_block .active {
  border-bottom: 0.1rem solid #36c8ea;
  color:#36c8ea;
}
.navigation_block {
  display: flex;
  justify-content: center;
  color: #2f3749;
}
.navigation_block img {
  padding-right: 0.5rem;
}
.nav_block {
  display: flex;
  align-items: center;
  padding: 1.3rem 1.875rem;
  border-left: 0.1rem solid#f2f4f8;
}
.nav_block1 {
  display: flex;
  align-items: center;
  padding: 1.3rem 1.875rem;
  border-left: 0.1rem solid#f2f4f8;
  border-right: 0.1rem solid#f2f4f8;
  color: #2f3749;
}
.act_block :focus{
  border-bottom: 0.1rem solid #36c8ea;
  /* color:#36c8ea; */
}
.navigation_block a:focus {
  border-bottom: 0.1rem solid #36c8ea;
  /* color:#36c8ea; */
}

/* .navigation_block a{
    border-bottom:0.1rem solid white;
}  */
.ex_circle{
    display: flex;
    justify-content: flex-start;
}
.circle_red{
    border-radius: 50%;
    height:6px;
    width:6px;
    background-color:#ee2d2d;
}
.user_login {
  display: flex;
  justify-content: space-between;
  width: 14%;
  align-items: center;
  color: #2f3749;
}
.login {
  display: flex;
  align-items: center;
}

.login p {
  padding-right: 0.4rem;
}

.login a:hover {
  color: #36c8ea;
}

/*.grid_scrolling {
   display: flex; 
  column-gap: 0.7rem;
  width: 150%;
}*/

/*.container2 {
  /* display: grid; */
  /* width:97.8%; */
  /*position: relative;*/
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* gap: 1rem; */
  /*width:98%;
   margin: 0.7rem 1rem; 
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}*/

.grid_scrolling{
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0.6rem 1rem;
    /* width:50rem; */
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:1rem;
}

.grid_box {
  display: flex;
  padding: 1rem;
  width:332px;  
  justify-content: space-between;
  background-color: white;
  text-decoration: bold;
  align-items: center;
  color: #666;
  font-size: 0.825rem;
  font-weight: bold;
}
.exclamatory_icon {
  display: flex;
}
.exclamatory_icon img {
  padding-left: 0.3rem;
}
.inside_grid_box p{
  font-size: 0.825rem;
}
.color_circles p{
  font-size: 0.625rem;
}
/* .last_grid_box {
  padding: 1rem;
  display: flex;
  width: 332px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  text-decoration: bold;
  color: #666;
} */
/* .last_grid_box p {
  font-size: 0.825rem;
} */
.last_grid_box_para {
  font-weight: bold;
}
.inside_grid_box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.01rem;
}
.grid_box sub {
  font-size: 0.625rem;
}
.color_circles {
  display: flex;
  gap: 1rem;
  color: #666;
  font-size: 0.8rem;
}
.color_circles p {
  color: #666;
  font-weight: none;
}
.numbers {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
.circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #53cb5d;
  border-radius: 50%;
}
.circle1 {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #53cb5d;
  border-radius: 50%;
}
.circle2 {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #ffc300;
  border-radius: 50%;
}
.circle3 {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #f62020;
  border-radius: 50%;
}

.container3 {
  margin-left: 1rem;
  margin-right: 1rem;

  width: 98.5%;
  background-color: white;
  flex-wrap: wrap;
}
.linkings {
  padding: 0.7rem 0.5rem;
  display: flex;
}
.linkings a {
  padding: 0.7rem;
}
.linkings .active {
  border-bottom: 0.2rem solid #36c8ea;
}
.flex_container {
  display: flex;
  border-bottom: 0.1rem solid #f8f9fb;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex_container .linkings a:focus {
  border-bottom: 0.2rem solid #36c8ea;
}

.nextarrow img {
  padding-right: 1rem;
  padding-top: 0.1rem;
}
.nextarrow a {
  color: #36c8ea;

  padding-left: 0.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.view_arrow {
  display: flex;
}

.flex_container2 {
  border: none;
  text-align: center;
  justify-content: start;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
}
.flex_container2 li {
  padding: 12px 15px;
}
.flex_container2 ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.7rem 1rem 0.7rem 0.7rem;
  background-color: white;
}
.flex_container2 a {
  background-color: #f8f9fb;
  font-size: 0.875;

  margin-right: 0.5rem;
}
.no_10{
    color:#f62020;
}
.flex_container2 .active li {
  background-color: #36c8ea;
  color: white;
}
.flex_container2 a:focus {
  background-color: #36c8ea;
  color: white;
}

.searchblock {
  display: flex;

  flex-wrap: wrap;
  padding-bottom: 0.7rem;
  background-color: white;
}
.search_button {
  border: none;
  background-color: #f8f9fb;
  margin-left: 1.2rem;
  padding-right: 0.3rem;
}
.search_box {
  width: 90%;
  height: 1.5rem;
  background-color: #f8f9fb;
  padding: 0.25rem;
  border: none;
}

.container4 {
  overflow-y: scroll;
  width: 98.5%;
  height: 23rem;
  margin-top: none;
  margin: 1rem;
}

.scrollingblock {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  height: 41rem;
}

.firstblock {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons_block {
  display: flex;
  justify-content: space-between;
}
.first_flex_block {
  display: flex;
  justify-content: space-between;
}
.shipment_id {
  color: #666;
  font-size: 0.6875rem;
}
.block_number {
  font-weight: bolder;
  font-size: 1.25rem;
}
.second_flex_block {
  display: flex;
  justify-content: space-between;
  /* padding-top:5rem; */
  margin-top: 1.3rem;
}
.uparrow {
  display: flex;
}
.uparrow img {
  padding-top: 0.3rem;
}
.downarrow {
  display: flex;
}
.downarrow img {
  padding-top: 0.3rem;
}
.orginsikkim {
  padding-left: 0.7rem;
}
.destination_seatle {
  padding-left: 0.7rem;
}
.sikkim {
  font-weight: bold;
  font-size: 0.875rem;
}
.seattle {
  font-weight: bold;
  font-size: 0.875rem;
}

.second_flex_block {
  display: flex;
  background-color: #f2f4f8;
  padding: 0.5rem;
}

.second_flex_block_1 {
  display: flex;
  justify-content: space-between;
  background-color: #f2f4f8;
  padding: 0.5rem;
  margin-top: 0.1rem;
}
.third_flex_block {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-right: 3rem;
  /*padding:1rem;*/
}
.icon2 {
  padding-right: 0.3rem;
}
.icons_block p {
  background-color: #e7f4ff;
  padding: 0.45rem;
  color: #017cee;
  font-size: 0.625rem;
  font-weight: bold;
  gap: 0.625rem;
}

.orgin {
  color: #666;
  font-size: 0.6875rem;
}
.po {
  color: #666;
  font-size: 0.6875rem;
}
.number2 {
  font-size: 0.875rem;
}
.destination {
  color: #666;
  font-size: 0.6875rem;
}

.footer {
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.secondblock {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.thirdblock {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thirdblock .icon2 p {
  color: #f62020;
  background-color: rgba(246, 32, 32, 0.1);
}
.links {
  display: flex;
  justify-content: space-between;
  color: red;
  font-size: 0.875rem;
}

.linking {
  padding-left: 10.5rem;
}
.forthblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
}
.forthblock .icon2 p {
  color: #53cb5d;
  background-color: #e7f4ff;
}

.table {
  display: flex;
  flex-direction: column;
  width:60%; 
}

.total_table {
  display: flex;
}
.aside_flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.aside_container {
  width: 40%;
  background-color: #f8f9fb;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.7rem;
  font-family: "Roboto", sans-serif;
}

.risk_chain {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.1rem 0.4rem 0.7rem;
  font-size: 0.8125rem;
  color: #2f3749;
  font-weight: bold;
}

.aside_container p {
  padding-top: 3rem;
  padding: 2rem;
  text-align: center;
}

.aside_container h1 {
  padding-top: 3rem;
  text-align: center;
  font-size: 1.5rem;
}

@media (min-width:50px) and (max-width: 700px) {
  i{
    font-style: normal;
    border: none;
  }
  
    .hamburger {
      position: fixed;
      z-index: 100;
      /* top: 1rem; */
      right: 0.3rem;
      /* padding: 4px; */
      border: none;
      /* border: black solid 1px; */
      background: white;
      cursor: pointer;
    }
  
    .closeIcon {
      display: none;
    }
    .menu {
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background:white;
      color: white;
      list-style: none;
      padding-top: 4rem;
    }
    .showMenu {
      transform: translateY(0);
    }
    
  .menuIcon{
    font-size: 1.9rem;
    text-decoration:none;
  }
  .closeIcon{
    font-size: 1.8rem;
    text-decoration:none;
    background-color:white;
    border: none;
  }
  
  
    a {
      text-decoration: none;
      color: #2f3749;
      font-size: 0.875rem;
    }
    p {
      font-size: 0.875rem;
    }
    li {
      list-style: none;
    }
    #mobile_view {
      background-color: white;
    }
  
    label {
      padding-left: 0.5rem;
    }
    #mobile_view label,
    #mobile {
      /* margin-top: 1rem; */
      /* padding-top: 0.4rem; */
      font-size: 1.5rem;
      display: flex;
    }
    #navigation_block_mobile {
      display: none;
    }
    .navigation_block {
      display: none;
    }
    .ham_img{
      display: none;
    }
    #mobile_view input:checked ~ .navigation_block_mobile{
      display: block;
    }
   
    .user_login {
      display: none;
    }
    .navigation_block_mobile {
      background-color: white;
      /* margin:1rem;*/
    }
    .navigation_block_mobile li {
      padding: 1rem;
    }
    #mobile {
      display: none;
    }
    .flex_container_mobile {
      display: block;
    }
    .flex_container {
      display: none;
    }
    .nav_block_mobile {
      display: flex;
      padding: 1rem;
      justify-content:start;
      /* align-content: space-between;*/
      align-items: center;
      /*padding:0.2rem 0rem;*/
      margin: 0.3rem;
      border-bottom: 1px solid #f2f4f8;
    }
    .navigation_block_mobile img{
      padding-right: 0.5rem;
    }
    .user{
      display:none;
    }
    .nav_block_mobile:hover {
      border-left: 0.2rem solid #36c8ea;
      color:#36c8ea;
    }
    .menu .active{
      border-left: 0.2rem solid #36c8ea;
      color:#36c8ea;
    }
    
    /* .nav_screen{
      height:100vh;
      background-color: white;
    } */
  
    /* .container { */
      /*height:3rem;*/
      /* padding: 0.2rem;
      width: auto;
    } */
    .parent_container{
      margin: 0.5rem;
    }
    header{
      display:none;
    }
  
    .head{
      display: block;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      /* width: 92%; */
      flex-wrap: wrap;
      padding-bottom: 0%;
      margin-left: 0%;
      padding-right:1rem;
      padding-left:1rem;
      height: 4rem;
    }
  
    .ust_omni_for_mobile{
      display: block;
      padding-top: 0.6rem;
      z-index: 100;
    }
    .ex_circle_mobile{
      display: block;
      display:flex;
    }
    .user_login_for_mobile{
      z-index: 100;
      display: block;
      display:flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 0.6rem;
      width:35%;
    }
    .whole_head{
      display: flex;
      align-items: center;
      justify-content:space-between;
      width:90%;
    }
    /* #mobile_view{
      display: block;
    } */
    /* header {
      background-color: white;
      border-bottom: 1rem solid white;
      width: 85%;
      align-items: center;
      padding-bottom: 0%;
      margin-left: 0%;
      padding-right: 0%;
      margin-top: 1rem;
      justify-content: space-between;
      height: auto;
    } */
    .ex_circle{
      display: flex;
      justify-content: flex-start;
  }
  .circle_red{
      border-radius: 50%;
      height:6px;
      width:6px;
      background-color:#ee2d2d;
  }
    .user_login {
      display: block;
      display: flex;
      width: 40%;
    }
    .mob:focus {
      background-color: #36c8ea;
    }
    .login a:hover {
      color:#36c8ea;
    }
  .linkings:focus {
    border-bottom: 0.1rem solid #36c8ea;
  }
  .flex_container2 a:focus {
    background-color: #36c8ea;
  }

  .grid_scrolling_mobile::-webkit-scrollbar {
    display: none;
  }
.grid_scrolling{
  display: none;
}
  .grid_scrolling_mobile{
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    margin:0.7rem 0.5rem 0rem 0.5rem;
    padding: 0%;
}
.prev_1 p{
  padding-left:0.4rem;
  color: white;
  padding-top: 0.1rem;
} 
.prev p{
  padding-left:0.3rem;
  color: white;
  padding-top: 0.1rem;
}
/* .carosel{
  display:flex;
  justify-content: flex-end;
 margin-top: 1.7rem;
  width:95%;
 position: absolute;
}
.prev{
  display: block;
  cursor: pointer;
   width: 20px;
  height: 20px;
  float: right;
  border-radius: 50%;
  background-color: #36c8ea;
} */



.carosel{
  display:flex;
  margin-top: 1.7rem;
  left:0;
 position: absolute;
}
.carosel_1{
  display:flex;
  margin-top: 1.7rem;
  right:0;
 position: absolute;
}

.prev_1{
  display: block;
  cursor: pointer;
   width: 20px;
  height: 20px;
  float: right;
  border-radius: 50%;
  background-color: #36c8ea;
}
.prev{
  display: block;
  cursor: pointer;
   width: 20px;
  height: 20px;
  float: right;
  border-radius: 50%;
  background-color: #36c8ea;
}

/* .prev{
  display: block;
  cursor: pointer;
  position: absolute;
  top: 20%;
margin-left:15rem; */
  /* width: auto; */
  /* padding: 16px; */
  /* margin-top: -22px; */
  /* color: white; */
  /* border:0.5rem solid #2f3749; */
  /* height:20px;
  width:20px;
  background-color: #36c8ea;
  border-radius: 90%;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  transition: 0.6s ease; */
  /* border-radius: 0 3px 3px 0; */
  /* user-select: none;
} */
.container2_mobile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:0.5rem;
}
  .grid_box_mobile{
  
    display: block;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    width:320px;
    background-color: white;
    color: #666;
    height:3rem;
  }
  .inside_grid_box p{
    font-size: 0.825rem;
  }
  .color_circles p{
    font-size: 0.625rem;
  }
/*  
  .last_grid_box {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #666;
    width: 320px;
  } */
  /* .last_grid_box p {
    font-size: 0.825rem;
  } */
  .inside_grid_box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.01rem;
  }
  .color_circles {
    display: flex;
    gap: 1rem;
    color: #666;
    font-size: 0.8rem;
  }
  .exclamatory_icon {
    font-weight: none;
    font-size: 0.825rem;
  }
  .numbers {
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
  }
  .circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #53cb5d;
    border-radius: 50%;
  }
  .circle1 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #53cb5d;
    border-radius: 50%;
  }
  .circle2 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #ffc300;
    border-radius: 50%;
  }
  .circle3 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #f62020;
    border-radius: 50%;
  }
/* 
  .carosel_2{
    display:flex;
    right:0;
   position: absolute;
   justify-content: flex-end;
   width:100%;
   margin-top: 1rem;
   margin-right: 0.5rem;
  }
  
  .prev_2{
    display: block;
    cursor: pointer;
     width: 20px;
    height: 20px;
    float: right;
    border-radius: 50%;
    background-color: #36c8ea;
  } */
  .mob_scroll{
    display:flex;
    right:20px;
    position: absolute;
    }
.mob_scroll_next{
left:20px;
position:absolute;
}

  .container3 {
    width: 167%;
    background-color: white;
    /* border:none;*/
    height: 9rem;
    padding: 0%;
    margin: 0.2rem 0rem 0rem 0rem;
    flex-wrap: wrap;
  }
  .linkings {
    padding: 0.5rem 0.3rem;
    display: flex;
  }
   .linkings a {
    padding: 0.3rem;
  } 
  .flex_container_mobile {
    display: flex;
    border-bottom: 0.1rem solid #f8f9fb;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex_container_mobile .linkings a:focus {
    border-bottom: 0.2rem solid #36c8ea;
  }

  .nextarrow img {
    padding-right: 0.5rem;
    padding-top: 0.1rem;
  }
  .nextarrow a {
    color: #36c8ea;
  }
  .searchblock input {
    font-size: 0.75rem;
  }
  .view_arrow {
    display: flex;
  }

  .flex_container2_scroll ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
  }

  .flex_container2_scroll::-webkit-scrollbar {
    display: none;
  }

  .flex_container2_scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .flex_container2_scroll {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0.2rem 1rem 0.2rem 0rem;
  }

  .flex_container2 {
    display: none;
  }

  .scrolling_3 {
    display: flex;
    width: 60rem;
    margin-right: 10rem;
    flex-direction: row;
  }
 #act_bar_id{
  background-color: white;
  width: 0.3rem;
 }

  .flex_container2_scroll li {
    padding: 12px 15px;
  }
  .flex_container2_scroll ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.7rem 1rem 0.7rem 0.7rem;
    background-color: white;
  }
  .flex_container2_scroll a {
    background-color: #f8f9fb;
    font-size: 0.875;
    /* padding:0.5rem; */
    margin-right: 0.5rem;
  }
  .flex_container2_scroll .active li {
    background-color: #36c8ea;
    color: white;
  }
  .flex_container2_scroll a:focus {
    background-color: #36c8ea;
    color: white;
  }
 .no_10{
    color:#f62020;
 }
  .searchblock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    padding-top: 0.1rem;
    background-color: white;
  }
  .search_button {
    border: none;
    background-color: #f8f9fb;
    margin-left: 1.2rem;
    padding-right: 0.3rem;
  }
  .search_box {
    width: 80%;
    height: 1.5rem;
    background-color: #f8f9fb;
    padding: 0.25rem;
    border: none;
  }

  .container4 {
    overflow-y: scroll;
    width: 167%;
    height: 20rem;
    margin: 1rem 0rem 0rem 0rem;
    padding: 0%;
  }

  .scrollingblock {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    height: 43rem;
  }

  .firstblock {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .icons_block {
    display: flex;
    justify-content: space-between;
  }
  .first_flex_block {
    display: flex;
    justify-content: space-between;
    /* padding-bottom:1rem; */
  }
  .shipment_id {
    color: #666;
    font-size: 0.6875rem;
  }
  .block_number {
    font-weight: bolder;
    font-size: 1.25rem;
  }
  .second_flex_block {
    display: flex;
    justify-content: space-between;
    /* padding-top:5rem; */
    margin-top: 2rem;
  }
  .uparrow {
    display: flex;
  }
  .uparrow img {
    padding-top: 0.3rem;
  }
  .downarrow {
    display: flex;
  }
  .downarrow img {
    padding-top: 0.3rem;
  }
  .orginsikkim {
    padding-left: 0.7rem;
  }
  .destination_seatle {
    padding-left: 0.7rem;
  }
  .sikkim {
    font-weight: bold;
    font-size: 0.875rem;
  }
  .seattle {
    font-weight: bold;
    font-size: 0.875rem;
  }

  .second_flex_block {
    display: flex;
    background-color: #f2f4f8;
    padding: 0.5rem;
  }

  .second_flex_block_1 {
    display: flex;
    justify-content: space-between;
    background-color: #f2f4f8;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  .third_flex_block {
    display: none;
  }

  .third_flex_block_mobile{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 3rem;
}
  .icon2 {
    padding-right: 0.3rem;
  }
  .icons_block p {
    background-color: #e7f4ff;
    padding: 0.45rem;
    color: #017cee;
    font-size: 0.625rem;
    font-weight: bold;
    gap: 0.625rem;
  }

  .orgin {
    color: #666;
    font-size: 0.6875rem;
  }
  .po {
    color: #666;
    font-size: 0.6875rem;
  }
  .number2 {
    font-size: 0.875rem;
  }
  .destination {
    color: #666;
    font-size: 0.6875rem;
  }

  .footer {
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .secondblock {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .thirdblock {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .thirdblock .icon2 p {
    color: #f62020;
    background-color: rgba(246, 32, 32, 0.1);
  }
  .links {
    display: flex;
    justify-content: space-between;
    color: red;
    font-size: 0.875rem;
  }

  .linking {
    padding-left: 6rem;
  }
  .forthblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
  }
  .forthblock .icon2 p {
    color: #53cb5d;
    background-color: #e7f4ff;
  }

  .aside_flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .aside_container {
    width: 100%;
    height: 100%;
    margin: 0.5rem 0rem 0rem 0rem;
    padding: 0%;
    /*margin-right:1rem;*/
    background-color: ghostwhite;
    font-family: "Roboto", sans-serif;
  }

  .risk_chain {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    /*padding:0.5rem;*/
    font-size: 0.875rem;
    font-weight: bold;
  }

  .aside_container p {
    padding-top: 3rem;
    padding: 2rem;
    text-align: center;
  }
  .aside_container h1 {
    padding-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
  }
  .nextarrow {
    position: relative;
    padding: 0.1rem;
  }
  .table {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    /*padding-right:1rem;*/
  }
  .total_table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {

  i{
    font-style: normal;
    border: none;
  }
  
    .hamburger {
      /* position: fixed; */
      z-index: 100;
      /* top: 1rem; */
      right: 1.5rem;
      /* padding: 4px; */
      border: none;
      /* border: black solid 1px; */
      background: white;
      cursor: pointer;
    }
  
    .closeIcon {
      display: none;
    }
    .menu {
      /* display: flex; */
      position: absolute;
      transform: translateY(-150%);
      transition: transform 0.2s;
      top:5rem;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
     background-color: black;
     opacity: 0.5;
      color: white;
      list-style: none;
      /* padding-top: 4rem; */
      margin:1rem solid white;
     /* height: 3.7rem; */
    }
    .showMenu {
      transform: translateY(0);
    }
    .nav_screen{
      display: flex;
      background-color: white;
      opacity: none;
    }
  .menuIcon{
    font-size: 1.9rem;
    text-decoration:none;
    padding-left:1rem;
  }
  .closeIcon{
    font-size: 1.8rem;
    text-decoration:none;
    background-color:white;
    border: none;
      padding-left:1rem;
  }
  



  a {
    text-decoration: none;
    color: #2f3749;
    font-size: 0.875rem;
  }
  p {
    font-size: 0.875rem;
  }
  li {
    list-style: none;
  }
  #mobile_view {
    background-color: white;
  }

  label {
    padding-right: 1rem;
  }
  #mobile_view label,
  #mobile {
    /* margin-top: 1rem; */
    /* padding-top: 0.4rem; */
    font-size: 1.5rem;

    display: flex;
  }

  .nav_block{
    display: none;
  }
  .nav_block1{
    display: none;
  }

  #mobile_view input:checked ~ .navigation_block_mobile {
    display:none;
  }
  .user_login {
    display: none;
  }
 
  #mobile {
    display: none;
  }
   .user{
    display:none;
  }
 
/* .navigation_block_mobile{
    display: flex;
    justify-content: space-between;
    color: #2f3749;
    border:0.1rem solid #f2f4f8;
} */

.grid_scrolling_mobile{
  display: none;
}
.mob{
  font-weight: bolder;
  color:black;
}
/* .nav_screen:not(.notopaque){
opacity: 0.5;
} */
.nav_block_mobile {
    display: flex;
    opacity: none;
    background-color: white;
    align-items: center;
    padding: 1rem 1.5rem;
    border-right: 0.1rem solid#f2f4f8;
    /* border:0.1rem solid #f2f4f8; */
    display: flex;
    /* justify-content: center; */
    /* border:0.1rem solid #f2f4f8; */
    color: #2f3749;
  }
  .nav_block1_mobile {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 1rem 1.5rem;
    /* border-left: 0.1rem solid#f2f4f8; */
    border-right: 0.1rem solid#f2f4f8;
    color: #2f3749;
  }
  .nav_block_mobile img {
    padding-right: 0.5rem;
  }
  /* .nav_block_mobile .active {
    border-bottom: 0.1rem solid #36c8ea;
    color:#36c8ea;
  } */
  
  /* .nav_block_mobile a:focus {
    border-bottom: 0.1rem solid #36c8ea;
  
  } */
  /* .nav_block_mobile .nav_block1_mobile a:focus{
    border-bottom: 0.1rem solid #36c8ea;
  }  */

  /* .nav_block_mobile {
    display: flex;
    border:0.1rem solid #f2f4f8;
    color: #2f3749;
  } */
/* .nav_block_mobile .active{
  border-bottom: 0.1rem solid #36c8ea;
} */
  .menu .active{
  border-bottom: 0.2rem solid #36c8ea;
  color:#36c8ea;
}
 /* ul.menu.showMenu{
  opacity:0.5;
 } */
  
  header{
    display:none;
  }
  .head{
    display: block;
    display: flex;
    background-color: white;
    /* border-top:1rem solid white;
    border-bottom:0.2rem solid white;  */
    border:1rem solid white;
    width: 96%;
    align-items: center;
    padding-bottom: 0%;
    /* padding-right:1rem; */
    /* margin-top: 1rem; */
    /* justify-content: space-between; */
    height:3.5rem;
  }
  /* .ex_circle{
    display: flex;
    justify-content: flex-start;
} */
.ust_omni_for_mobile{
  display: block;
  padding-top: 0.6rem;
  padding-left: 1rem;
  z-index:100;
}
.ex_circle_mobile{
  display: block;
  display:flex;
}
.user_login_for_mobile{
  padding-top: 0.6rem;
  display: block;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:20%;
  z-index:100;
}
.whole_head{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width:95%;
  /* padding: 0.5rem; */
}
.ex_circle{
  display: flex;
  justify-content: flex-start;
}
.circle_red{
    border-radius: 50%;
    height:6px;
    width:6px;
    background-color:#ee2d2d;
}
  .user_login {
    display: block;
    display: flex;
    width: 20%;
    justify-content: space-between;
  }
  .mob:focus {
    background-color:#36c8ea;
  }
  /* .login a:hover {
    color:#36c8ea;
  } */
  .linkings:focus {
    border-bottom: 0.1rem solid #36c8ea;
  }
  .flex_container2 a:focus {
    background-color: #36c8ea;
  }

  .grid_scrolling::-webkit-scrollbar {
    display: none;
  }

  .grid_scrolling {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .grid_scrolling{
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 1rem 1rem;
    height:11rem;
    /* width:50rem; */
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:1rem;
}

  .grid_box {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    width: auto;
    height: 3rem;
    background-color: white;
    color: #666;
    /*font-size: 0.825rem;*/
  }
  .inside_grid_box p{
    font-size: 0.825rem;
  }
  .color_circles p{
    font-size: 0.625rem;
  }
  /* .last_grid_box {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #666;
    width: auto;
    height: 3rem;
  }
  .last_grid_box p {
    font-size: 0.825rem;
  } */
  .inside_grid_box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.01rem;
  }
  .color_circles {
    display: flex;
    gap: 1rem;
    color: #666;
    font-size: 0.8rem;
  }
  .exclamatory_icon {
    font-weight: none;
    font-size: 0.825rem;
  }
  .numbers {
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
  }
  .circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #53cb5d;
    border-radius: 50%;
  }
  .circle1 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #53cb5d;
    border-radius: 50%;
  }
  .circle2 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #ffc300;
    border-radius: 50%;
  }
  .circle3 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #f62020;
    border-radius: 50%;
  }

  .container3 {
    width: 167%;
    margin: 0%;
    background-color: white;
    height: 10rem;
    flex-wrap: wrap;
  }
  .linkings {
    padding: 1rem 0.5rem;
    display: flex;
  }
  .linkings a {
    padding: 1rem;
  }
  .flex_container {
    display: flex;
    border-bottom: 0.1rem solid #f8f9fb;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex_container .linkings a:focus {
    border-bottom: 0.2rem solid #36c8ea;
  }

  .nextarrow img {
    /*  position:relative;*/
    padding-right: 1rem;
    padding-top: 0.1rem;
  }
  .nextarrow a {
    color: #36c8ea;
    /*padding-right:0.2rem;*/
    padding-left: 0.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .searchblock input {
    font-size: 0.75rem;
  }
  .view_arrow {
    display: flex;
  }

  .flex_container2 {
    border: none;
    /* margin:0.7rem;*/
    text-align: center;
    justify-content: start;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
  }
  .flex_container2 li {
    padding: 12px 15px;
  }
  .flex_container2 ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.7rem 1rem 0.7rem 0.7rem;
    background-color: white;
  }
  .flex_container2 a {
    background-color: #f8f9fb;
    font-size: 0.875;
    /* padding:0.5rem; */
    margin-right: 0.5rem;
  }
  .flex_container2 .active li {
    background-color: #36c8ea;
    color: white;
  }
  .flex_container2 a:focus {
    background-color: #36c8ea;
    color: white;
  }
  .no_10{
    color:#f62020;
}
  .searchblock {
    display: flex;
    /* padding-top:0.5rem; */
    flex-wrap: wrap;
    padding-bottom: 0.7rem;
    background-color: white;
  }
  .search_button {
    border: none;
    background-color: #f8f9fb;
    margin-left: 1.2rem;
    padding-right: 0.3rem;
  }
  .search_box {
    width: 90%;
    height: 1.5rem;
    background-color: #f8f9fb;
    padding: 0.25rem;
    border: none;
  }

  .container4 {
    overflow-y: scroll;
    width: 167%;
    height: 23rem;
    margin: 1rem 0rem 0rem 0rem;
    /* margin:1rem; */
    /* padding:0.5rem 0rem 0rem 0rem; */
  }

  .scrollingblock {
    display: grid;
    width: 100%;
    margin: 0%;
    padding: 0%;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    height: 41rem;
  }

  .firstblock {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .icons_block {
    display: flex;
    justify-content: space-between;
  }
  .first_flex_block {
    display: flex;
    justify-content: space-between;
    /* padding-bottom:1rem; */
  }
  .shipment_id {
    color: #666;
    font-size: 0.6875rem;
  }
  .block_number {
    font-weight: bolder;
    font-size: 1.25rem;
  }
  .second_flex_block {
    display: flex;
    justify-content: space-between;
    /* padding-top:5rem; */
    margin-top: 2rem;
  }
  .uparrow {
    display: flex;
  }
  .uparrow img {
    padding-top: 0.3rem;
  }
  .downarrow {
    display: flex;
  }
  .downarrow img {
    padding-top: 0.3rem;
  }
  .orginsikkim {
    padding-left: 0.7rem;
  }
  .destination_seatle {
    padding-left: 0.7rem;
  }
  .sikkim {
    font-weight: bold;
    font-size: 0.875rem;
  }
  .seattle {
    font-weight: bold;
    font-size: 0.875rem;
  }

  .second_flex_block {
    display: flex;
    background-color: #f2f4f8;
    padding: 0.5rem;
  }

  .second_flex_block_1 {
    display: flex;
    justify-content: space-between;
    background-color: #f2f4f8;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  .third_flex_block {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 3rem;
    /*padding:1rem;*/
  }
  .icon2 {
    padding-right: 0.3rem;
  }
  .icons_block p {
    background-color: #e7f4ff;
    padding: 0.45rem;
    color: #017cee;
    font-size: 0.625rem;
    font-weight: bold;
    gap: 0.625rem;
  }

  .orgin {
    color: #666;
    font-size: 0.6875rem;
  }
  .po {
    color: #666;
    font-size: 0.6875rem;
  }
  .number2 {
    font-size: 0.875rem;
  }
  .destination {
    color: #666;
    font-size: 0.6875rem;
  }

  .footer {
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .secondblock {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .thirdblock {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .thirdblock .icon2 p {
    color: #f62020;
    background-color: rgba(246, 32, 32, 0.1);
  }
  .links {
    display: flex;
    justify-content: space-between;
    color: red;
    font-size: 0.875rem;
  }

  .linking {
    padding-left: 6rem;
  }
  .forthblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
  }
  .forthblock .icon2 p {
    color: #53cb5d;
    background-color: #e7f4ff;
  }

  .table {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
  }

  .total_table {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    height: 100%;
    margin: 1rem;
    /*width:100%;*/
  }
  .aside_flex {
    display: flex;
    flex-direction: column;
    /*height:30%;*/
    /* width:40%; */
    flex-wrap: wrap;
    /* height:100%; */
  }
  .aside_container {
    width: 100%;

    background-color: #f8f9fb;
    margin-top: 1.2rem;

    margin-left: 0%;
    font-family: "Roboto", sans-serif;
  }

  .risk_chain {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    /*padding:0.4rem 0.1rem 0.4rem 0.7rem;*/
    font-size: 0.8125rem;
    color: #2f3749;
    font-weight: bold;
  }

  .aside_container p {
    padding-top: 3rem;
    padding: 2rem;
    text-align: center;
  }

  .aside_container h1 {
    padding-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media (min-width:2300px){
    .parent_container{
        padding-left:10rem;
        padding-right: 10rem;
        /* width: 100%;
        height: 100%; */
    }
  
    .body{
        height: 100%;
        width:100%;
    }
    
.grid_box {
    display: flex;
    padding: 1rem;
    width:auto;  
 
    justify-content: space-between;
    background-color: white;
    text-decoration: bold;
    align-items: center;
    color: #666;
    font-size: 0.825rem;
    font-weight: bold;
  }

  .last_grid_box {
    padding: 1rem;
    display: flex;
    width:auto;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    text-decoration: bold;
    color: #666;
  }
}